#header{
    text-align: center;
}
.first{
    background: red;
    padding: 15px 0;
}
.second{
    background: yellow;
    padding: 15px 0;
}
.third{
    background: green;
    padding: 15px 0;
}

.first-1{
    background: rgb(5, 48, 2);
    padding: 15px 0;
    color: white;
    border: 1px solid white;
}
.second-2{
    background: rgb(11, 4, 80);
    padding: 15px 0;
    color: white;
    border: 1px solid white;
}
.third-3{
    background: rgb(128, 0, 64);
    padding: 15px 0;
    color: white;
    border: 1px solid white;
}
.first-1-new{
    background: #7fff00;
    padding: 15px 0;
    color: black;
}
.second-2-new{
    background: #00FFFF;
    padding: 15px 0;
    color: black;
}
.third-3-new{
    background: #800080;
    padding: 15px 0;
    color: black;
}