@media only screen and (min-width: 1201px) {
    #header{
        height: 400px;
        margin-bottom: 100px;
    }
    .menu-btn, 
    #menu-checkbox {
        display: none;
    }
    .header_link{
        display: none;
    }
    .logo{
        padding: 30px 10px;
        font-size: 120px;
        line-height: 100px;
    }
    .menu li{
        margin: 30px 10px 16px;
        padding: 10px 15px;
    }
    .menu > li > a{
        font-size: 23px;
    }
    #carousel1 img{
        width: 200px;
        height: 200px;
    }
    #carousel1 img:before{
        width: 200px;
        height: 200px;
    }
    .owl-theme .owl-nav{
        font-size: 40px;
    }
    .owl-prev, .owl-next{
        top: 30%;
    }
    .owl-prev{
        left: -30px;
    }
    .owl-next{
        right: -30px;
    }
    .header-library{
        width: 750px;
        margin: 20px auto;
    }
    .img-menu {
        display: none;
    }
    .header-library_title a,
    .useful_link-title a,
    .frontend_link-title a{
        font-size: 30px;
    }
    #useful_links{
        margin-bottom: 100px;
    }
    .useful_link-img{
        padding-top: 40px;
    }
    .useful_link-img img{
        height: 150px;
    }
    h3.useful_title,
    h3.about_title,
    h3.frontend_title{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #about,
    #frontend-pade{
        border-radius: 30px;
        margin: 80px;
        padding: 50px;
    }
    .about_text{
        font-size: 20px;
        text-align: center;
    }
    .header-library img{
        border-radius: 150px;
    }
    .frontend_link-img img{
        width: 200px;
        font: 200px;
        background: white;
    }
    .row-frontend{
        padding: 15px 0 40px 0;
    }
    #portfolio{
        margin-bottom: 100px;
    }
    .portfolio_title{
        padding: 30px 0;
    }
}