@media all and (max-width: 576px) {
    html{
        height: 100%;
    }
    body{
        padding: 0;
        margin: 0;
        z-index: 10;
        height: 100%;
    }
    .container{
        max-width: 768px;
        padding: 0;
        margin: 0;
    }
    #header {
        position: relative;
        height: 250px;
        margin: 0;
        padding: 0;
        margin-bottom: 65px;
    }
    .menu-btn {
        position: absolute;
        left: 30px;
        top: 20px;
        z-index: 99;
        cursor: pointer;
        color: #e6c619;
        font-weight: bold;
        border: 1px solid #e6c619;
        padding: 5px 10px;
        border-radius: 15px;
    }
    .menu-btn:hover {
        color: #696910;
        border: 1px solid #696910;
    }
    .overlay {
        position: fixed;
        background: rgba(31,31,31, 1);
        z-index: 100;
        text-align: center;
        color: white;
        width: 100vw;
        height: 100vh;
        padding-top: 40px;
        transform: translateX(100%);
        transition: all ease 0.5s;
    }
    .overlay ul li {
        display: inline-block;
        width: 100vw;
    }
    #menu-checkbox {
        display: none;
    }
    .overlay ul li a {
        display: block;
        color: #e6c619;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 0;
        text-transform: uppercase;
        transition: all ease 1s;
    }
    .overlay ul li a:hover {
        background: none;
        color: #696910;
    }
    input[type="checkbox"]:checked ~ .overlay{
        opacity: 1;
        z-index: 80;
        width: 100vw;
        height: 100%;
        transform: scale(1) translateX(0px);
    }    

    .img-menu img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin: 30px 30px 30px auto;
    }
    .logo{
        padding: 40px 10px 30px 30px;
        font-size: 80px;
        line-height: 70px;
        z-index: 30;
    }
    #carousel1 img{
        width: 260px;
        height: 260px;
    }
    .owl-theme .owl-nav{
        font-size: 40px;
    }
    .owl-prev, .owl-next{
        top: 22%;
    }
    .owl-prev{
        left: 30px;
    }
    .owl-next{
        right: 30px;
    }
    .header-library_title a{
        font-size: 0;
    }
    .header-library img{
        display: none;
    }
    #useful_links{
        margin-bottom: 70px;
    }
    .useful_link-img img{
        width: 50%;
        border-radius: 70%;
        margin: 25px auto;
    }
    .useful_link-title a{
        font-size: 25px;
    }
    #about{
        border-radius: 30px;
        margin: 30px;
        padding: 15px;
    }
    .about_text{
        font-size: 18px;
        text-align: center;
    }
    #portfolio{
        margin-bottom: 50px;
    }
    .portfolio_title{
        margin-top: 40px;
        padding: 30px 0;
        font-size: 30px;
    }
}